<header class="header">
  <div class="container">
    <div class="header__box">
      <div class="header__location">
        <h2 class="header__city">Уфа</h2>
        <div class="header__selection selection">
          <div class="selection__city">Сменить город</div>
          <div class="selection__location">Мое местоположение</div>
        </div>
      </div>
      <ul class="header__measure measure">
        <li class="measure__degrees measure__degrees--active">C</li>
        <li class="measure__degrees">F</li>
      </ul>
    </div>
  </div>
</header>
